<div *ngIf="componentToChange.title != ''">
    <div [ngClass]="{'opacity-50':cancelChanges}" class="w-full h-full flex justify-center items-center">
        <form class="bg-slate-200 p-6 w-3/4 rounded h-min" [formGroup]="changeDetailInfo" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <div class="font-bold">Title:</div>
                <div><input type="text" class="mb-3 rounded w-full" formControlName="title" placeholder="(Ex. 'Motor', 'Sensore' or other...)"></div>
            </div>
            <div class="mb-3">
                <div class="font-bold">Description:</div>
                <div><input type="text" class="mb-3 rounded w-full" formControlName="description" placeholder="(Ex. 'Big piece', 'Right of the machine' or other...)"></div>
            </div>
            <div class="mb-3">
                <div class="font-bold">Component code:</div>
                <div><input type="text" class="mb-3 rounded w-full" formControlName="componentCode" placeholder="(Ex. 'X9PO3', 'hf4s2' or other...)"></div>
            </div>
            <div class="mb-3">
                <div class="font-bold">Notes:</div>
                <div><input type="text" class="mb-3 rounded w-full" formControlName="notes"></div>
            </div>
            <div class="mb-3 flex justify-between">
                <input class="p-4 border border-zinc-400 rounded cursor-pointer hover:bg-slate-300" type="button" value="Cancel" (click)="cancelChangeFun()">
                <input [disabled]="!changeDetailInfo.valid" [ngClass]="{'opacity-50 cursor-default hover:bg-transparent': !changeDetailInfo.valid}" class="p-4 border border-zinc-400 rounded cursor-pointer hover:bg-slate-300" type="submit" value="Change">
            </div>
            <div class="">
                (*) obligatory
            </div>
        </form>
    </div>
</div>

<div *ngIf="cancelChanges" class="absolute top-0 left-0 w-full h-full flex justify-center items-center">
    <div class="mx-auto bg-slate-200 p-10 rounded">
        <div>
            Are you sure do you want cancel? All changes will lost
        </div>
        <div class="flex justify-between mt-6">
            <input class="py-3 px-6 border border-red-500 rounded text-red-500 cursor-pointer hover:underline" type="button" value="Yes" (click)="confirmCancel()">
            <input class="py-3 px-6 border border-black rounded cursor-pointer" type="button" value="No" (click)="returnToChanges()">
        </div>
    </div>
</div>